@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('../fonts/Droid_Arabic_Kufi.ttf') format('truetype');
}

@font-face {
    font-family: 'Amiri Quran';
    src: url('../fonts/Amiri-Quran.ttf') format('truetype');
}

@font-face {
    font-family: 'Almarai';
    src: url('../fonts/Almarai-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'ArefRuqaa';
    src: url('../fonts/ArefRuqaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ElMessiri';
    src: url('../fonts/ElMessiri.ttf') format('truetype');
}

@font-face {
    font-family: 'Ulamjad';
    src: url('../fonts/Ulamjad.ttf') format('truetype');
}

@font-face {
    font-family: 'BFantezy';
    src: url('../fonts/BFantezy.ttf') format('truetype');
}


@font-face {
    font-family: 'Gulzar';
    src: url('../fonts/Gulzar.ttf') format('truetype');
}

@font-face {
    font-family: 'Jomhuria';
    src: url('../fonts/Jomhuria.ttf') format('truetype');
}

@font-face {
    font-family: 'Lalezar';
    src: url('../fonts/Lalezar.ttf') format('truetype');
}

@font-face {
    font-family: 'Marhey';
    src: url('../fonts/Marhey.ttf') format('truetype');
}

@font-face {
    font-family: 'Scheherazade';
    src: url('../fonts/Scheherazade.ttf') format('truetype');
}

@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal.ttf') format('truetype');
}


