@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('/web_widget_ckeditor/static/src/fonts/Droid_Arabic_Kufi.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi Bold';
    src: url('/web_widget_ckeditor/static/src/fonts/Droid_Arabic_Kufi_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Amiri Quran';
    src: url('/web_widget_ckeditor/static/src/fonts/Amiri-Quran.ttf') format('truetype');
}

@font-face {
    font-family: 'Sultan Bold';
    src: url('/web_widget_ckeditor/static/src/fonts/Sultan_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Aref Ruqaa Regular';
    src: url('/web_widget_ckeditor/static/src/fonts/ArefRuqaa-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BFantezy';
    src: url('/web_widget_ckeditor/static/src/fonts/BFantezy.ttf') format('truetype');
}

@font-face {
    font-family: 'ElMessiri';
    src: url('/web_widget_ckeditor/static/src/fonts/ElMessiri.ttf') format('truetype');
}

@font-face {
    font-family: 'Ulamjad';
    src: url('/web_widget_ckeditor/static/src/fonts/Ulamjad.ttf') format('truetype');
}